{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<head>
<link rel="stylesheet" href="style2.css">
</head>
<div class="example-wrapper">
    <h1>Portfolio des <strong>compétences</strong> ! 

</div>
<body>
<h2>Compétences</h2>
    <ul>
      <li>Lire, exécuter, corriger et modifier un programme</li>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="90"></div>
        </div>
      <li>Traduire un algorithme, dans un langage et pour un environnement donné </li>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      <li> Communiquer avec un client ou un collaborateur</li>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 76%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      <li> Connaître l’architecture et les technologies d’un site Web</li>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 83%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    <li>S’intégrer dans un environnement propice au développement et au travail collaboratif</li>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    <li>Configurer les fonctions de base du réseau local</li>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
</body>

{% endblock %}
    