{% extends 'base.html.twig' %}

{% block title %}En savoir + !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<head>
  <title>Mes Hobbies</title>
  <link rel="stylesheet" type="text/css" href="style4.css">
</head>
<body>
  <h1>Mes Hobbies</h1>
  <div class="hobby">
    <img src="football.jpg" alt="Football">
    <p>Le <strong>football</strong> est un sport que j'apprécie particulièrement depuis mon enfance,<br>c'est le sport qui m'a fait découvrir le travail d'équipe.</p>
  </div>
  <div class="hobby">
    <img src="lol.jpg" alt="LOL ">
    <p>League of Legends aide les joueurs à développer certaines qualités morales, comme la collaboration, le leadership et la persévérance, c'est ce qui me plait beaucoup dans ce jeux-vidéo qui m'a permit d'acquérir ces qualitées tout en m'amusant !</p>
  </div>
  <div class="hobby">
    <img src="voyage.jpg" alt="Voyage ">
    <p>Le voyage est l'un de mes hobbies préférés car il me permet de découvrir de nouveaux horizons, de vivre de nouvelles expériences et de m'échapper de la routine quotidienne. C'est l'occasion pour moi de découvrir de nouvelles cultures, de rencontrer des gens différents et de me remplir de souvenirs inoubliables. Enfin, voyager me permet de me découvrir moi-même, de sortir de ma zone de confort et de me mettre à l'épreuve. C'est un moyen pour moi de découvrir mes limites et de me dépasser.</p>
  </div>
  <h3>Quelques photos supplémentaires !</h3>
<div class="gallery">
  <img src="boxe.png" alt="image1">
  <img src="iceland.jpg" alt="image2">
  <img src="nourriture.jpg" alt="image3">
  <img src="tournoi.jpg" alt="image4">
  <img src="berat.jpg" alt="image5">
  <img src="cinema.jpg" alt="image5">
  <img src="lvire.jpg" alt="image5">
</div>

</body>



{% endblock %}
    