{% extends 'base.html.twig' %}

{% block title %}CV!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<head>
<div class="example-wrapper">
  <h1>Curriculum vitæ</h1>
  <h2>Expert en CyberSécurité</h2>
</div>
<link rel="stylesheet" href="style2.css">
<script src="https://kit.fontawesome.com/f79886d2c3.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="fonts/font-awesome.min.css">

</head>





<body>
<a href="page6" class="blue-button">Télécharger le CV.</a>
<div class="cv-container">
  <section class="section-formations">
    <h2> Formations</h2>
    <ul>
      <li>
        <h3>Baccalauréat Général</h3>
        <p>Spécialité Numérique et Sciences Informatiques</p>
        <p>Lycée Lacassagne - 2019-2022</p>
      </li>
      <li>
        <h3>B.U.T Réseaux&Télécom</h3>
        <p>Institut Universitaire Technologique de Roanne - 2022-2025</p>
      </li>
    </ul>
  </section>
  <section class="section-experience">
    <h2>Expérience pro</h2>
    <ul>
      <li>
        <h3>Technicien SAV </h3>
        <h4>Orange Business | Maris 2024- Septembre 2025</h4>
        <ul>
          <li>Gestion des pannes sur routeurs : diagnostic, résolution technique et suivi des incidents jusqu'à leur clôture.</li>
          <li>Analyse des logs et troubleshooting des dysfonctionnements réseaux (BGP, HSRP, LTE, SAT.). </li>
          <li>Collaboration avec les équipes techniques pour remplacement de routeurs, interventions sur les lignes cuivre et fibre.</li>
          <li>Prise en charge des incidents via téléphone ou plateforme, avec suivi et mise à jour des statuts en temps réel.</li>
          <li>Reporting régulier vers le client tout au long de l'incident, avec communication sur l'avancement et les délais de résolution.</li>
        </ul>
       <li>
        <h3>Tutorat Numérique</h3>
        <h4>Université Jean-Monnet | Septembre 2022 - Octobre 2023</h4>
        <ul>
          <li>Support technique en ligne : Fournir une assistance en ligne aux étudiants en répondant aux tickets de support, en résolvant les problèmes techniques et en guidant les étudiants à travers les étapes de résolution de problèmes</li>
          <li>Support téléphonique : Répondre aux appels téléphoniques des étudiants, écouté leurs préoccupations et résoudre leurs problèmes à distance en fournissant des instructions claires</li>
          <li>Collaboration d'équipe : Travailler en étroite collaboration avec d'autres tuteurs numériques et membres du personnel pour partager les meilleures pratiques, résoudre les problèmes complexes et améliorer le service d'assistance.</li>
        </li>
        </ul>
    </ul>
  </section>
  <section class="section-competences">
    <h2>Compétences</h2>
    <ul>
      <li>Développement web (HTML, CSS, JavaScript, PHP)</li>
      <li>Analyse de données (Python, SQL)</li>
      <li>Gestion de projet</li>
      <li>Programmation (Python, C)</li>
      <li>Maitrise de la suite Microsoft. (Texte, exel,powerpoint, etc)</li>
      <li>Configurer les fonctions de base du réseau local</li>
      <li>Maîtriser les rôles et les principes fondamentaux des systèmes d’exploitation afin d’interagir avec ceux-ci pour la configuration et administration des réseaux et services fournis</li>
      <li>Savoir identifier les dysfonctionnements du réseau local</li>
      <li>Installer un poste client et le sécuriser</li>
      <li>Gestion de projet</li>

    </ul>
  </section>
  <section class="section-langues">
    <h2>Langues</h2>
    <ul>
      <li>Français</li>
      <div class="progress">
      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <li>Albanais</li>
      <div class="progress">
      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <li>Anglais</li>
      <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

    </ul>
  </section>

</div>
</body>


{% endblock %}
